<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <!--  console appender-->
  <appender name="consoleMask" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="it.gov.pagopa.rtd.transaction_filter.logger.MaskingPatternLayout">
        <maskPattern>Ocp-Apim-Subscription-Key\s*:\s*(.*)</maskPattern> <!-- apikey pattern -->
        <maskPattern>((?!(getSalt] --->)|(getSalt] &lt;---))getSalt].*)</maskPattern> <!-- salt pattern -->
        <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      </layout>
    </encoder>
  </appender>

  <!--  file appender-->
  <appender name="fileMask" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_FILE}.%d.gz</fileNamePattern>

      <!-- keep 15 days' worth of history capped at 100MB total size -->
      <maxHistory>15</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>

    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="it.gov.pagopa.rtd.transaction_filter.logger.MaskingPatternLayout">
        <maskPattern>Ocp-Apim-Subscription-Key\s*:\s*(.*)</maskPattern> <!-- apikey pattern -->
        <maskPattern>((?!(getSalt] --->)|(getSalt] &lt;---))getSalt].*)</maskPattern> <!-- salt pattern -->
        <pattern>${FILE_LOG_PATTERN}</pattern>
      </layout>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="consoleMask" />
    <appender-ref ref="fileMask" />
  </root>

</configuration>